@media (min-width: 2500px)
    .buy-game
        --right-split-width: 1200px
    @media (max-width: 1440px)
@media (max-width: 1280px)
    html:root
        --container-width: 960px
    .city
        &__grid
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: 196px 424px
        &__img#big-img
            grid-row: 2 / 3
            grid-column: 1 / 3
    .win
        padding: 95px 0 70px 0
        &__grid
            grid-template-columns: repeat(2, 460px)
            grid-template-rows: 377px 383px
            row-gap: 98px
        &__text
            grid-column: 1 / 2
            width: unset
            margin-top: 67px
        &__form
            grid-row: 2 / 3
        &__img-wrapper
            grid-column: 2 / 3
            grid-row: 1 / 3
        &__top-bar
            padding: 0
        &__ps-wrapper
            bottom: 0
            left: 0
            top: unset
    .monitor
        &__block
            width: 460px
        &__img
            margin-top: 42px
        &__collaboration
            &-wrapper
                flex-direction: column
                align-items: center
                width: unset
                height: 230px
            &-img:first-child
                width: 80px
    .buy-game
        --right-split-width: 692px                

@media (max-width: 992px)
    html:root
        --container-width: 720px
    .promo
        &__link-wrapper
            width: 350px
    .win
        &__promo
            top: 20px
        &__grid
            grid-template-columns: 1fr
            grid-template-rows: 410px auto auto
            row-gap: 25px
        &__text
            grid-row: 2 / 3
            width: unset
            margin-top: 0
        &__form
            justify-self: center
            grid-row: 3 / 4
            margin-top: 55px
        &__img-wrapper
            grid-column: 1 / 2
            grid-row: 1 / 2
        &__ps-wrapper
            left: unset
            right: 0
            width: 414px
            height: 410px
            & img
                transform: scale(0.9)
        &__xbox-wrapper
            width: 414px
            height: 410px
            & img
                transform: scale(0.9)
    .monitor
        &__wrapper
            display: flex
            flex-direction: column
            align-items: center
        &__block
            width: unset
            width: 600px
            &:first-child
                margin-bottom: 40px
        &__collaboration
            &-wrapper
                height: unset
                flex-direction: row
        &__img
            margin-top: 0
    .buy-game
        --right-split-width: 520px
    .footer
        &__wrapper
            flex-wrap: wrap
            justify-content: center
        &__link-wrapper
            margin-top: 15px

@media (max-width: 768px)
    html:root
        --container-width: 540px
    .promo
        &__top-bar
            flex-wrap: wrap
            justify-content: center
        &__link-wrapper
            margin-top: 10px
        &__block
            display: none
            &.mobile
                display: block
        &__title
            font-size: 55px
            margin-bottom: 60px
    .city
        &__grid
            grid-template-columns: 100%
            grid-template-rows: 196px 196px 424px
        &__img#big-img
            grid-row: 3 / 4
            grid-column: 1 / 2
    .win__grid
        grid-template-rows: 320px auto auto
    .win__xbox-wrapper, .win__ps-wrapper
        width: 322px
        height: 320px
        & img
            transform: scale(0.7)
            top: 0
    .monitor__block
        width: unset
    .buy-game
        background-color: #000
        &__split
            &-wrapper
                display: none
        &__mobile-img
            display: block
        &__container
            padding: 40px 0 70px 0
 
@media (max-width: 576px)
    .container
        max-width: 100%
        padding: 0 10px
    .title
        font-size: 30px
    .promo
        min-height: 713px
        &__block
            height: 207px
            margin-top: 450px
        &__title
            font-size: 30px
            margin-bottom: 25px
        &__btn
            width: 244px
            height: 60px
            font-size: 20px
            line-height: 200%
            padding: 0
    .city
        &__grid
            display: none
            &.mobile
                display: grid
        &__descr
            font-size: 16px
    .win
        &__grid
            grid-template-rows: 130px auto auto
        &__form
            grid-template-columns: 100%
        &__img-wrapper
            display: grid
            grid-template-columns: repeat(2, 132px)
            gap: 32px
            justify-content: center
            & div
                display: none
            & .mobile
                display: block
        &__descr
            font-size: 16px
            line-height: 200%
        &__promo
            width: 62px
            height: 62px
        &__text-input
            font-size: 16px
        &__dropbox
            & .underline
                font-size: 16px
            & .files
                display: none
    .monitor
        &__descr
            font-size: 16px
        &__item
            font-size: 16px    
        &__collaboration
            &-wrapper
                width: 296px
            &-img
                &:first-child
                    width: 44px
                &:last-child
                    width: 175px
            &-divider
                height: 10px
                width: 50px
                &::before
                    width: 50px
                &::after
                    width: 50px
    .buy-game
        &__container
            max-width: 100%
            padding: 40px 10px 70px 10px
        &__list-title
            font-size: 20px
        &__platform
            column-gap: 56px
            rg: 40px
            &-header
                font-size: 20px
        &__item
            font-size: 16px
        &__marker
            height: 24px
    .footer__link-wrapper, .footer__logo-wrapper
        flex-direction: column
        align-items: center
    .footer
        &__link
            font-size: 16px
            margin-top: 15px