*
    font-family: 'Roboto', sans-serif
    box-sizing: border-box
    margin: 0
    padding: 0
html
    scroll-behavior: smooth
    &:root
        --local-yellow: #F8F200
        --local-blue: #52BEDC
        --container-width: 1280px

body
    padding: 0
    margin: 0

.container
    max-width: var(--container-width)
    margin: 0 auto

@import 'blocks/title'
@import 'blocks/divider'
@import 'blocks/animation'

@import 'sections/promo'
@import 'sections/city'
@import 'sections/win'
@import 'sections/monitor'
@import 'sections/buy-game'
@import 'sections/footer'

@import 'media'