* 
	font-family: 'Roboto', sans-serif
	box-sizing: border-box

.container
	max-width: 1280px
	margin: 0 auto

@import "base/variables"
@import "base/mixins"


@import "sections/header"
@import "sections/promo"
@import "sections/nightcity"
@import "sections/promotion"
@import "sections/display"
@import "sections/buygame"

@import "blocks/title"