*
    font-family: 'Roboto', sans-serif
    box-sizing: border-box
    margin: 0
    padding: 0
html:root
    --local-yellow: #F8F200
    --local-blue: #52BEDC

body
    padding: 0
    margin: 0

.container
    width: 1280px
    margin: 0 auto

@import 'blocks/title'
@import 'blocks/divider'

@import 'sections/promo'
@import 'sections/city'
@import 'sections/win'
@import 'sections/_monitor'